<h1><%= @restaurant.name %></h1>

<div>
   <p><%= @restaurant.address %></p>
   <p><%= @restaurant.phone_number %></p>
   <p><%= @restaurant.category %></p>
   <%= link_to "edit", edit_restaurant_path(@restaurant) %>
</div>

<div>
    <p><%#= @restaurant.reviews.rating %></p>
   <p><%#= @restaurant.reviews.content %></p>
</div>

<h3>Create a new review !</h3>
<div>
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
